<div class="translate">
  <div id="google_translate_element">
    <div class="skiptranslate goog-te-gadget" dir="ltr" style>
      <div id=":0.targetLanguage" class="goog-te-gadget-simple" style="white-space: nowrap;">
        <span style="vertical-align: middle;">
          <a aria-haspopup="true" class="VIpgJd-ZVi9od-x1070b-1TBxed" href="#">
            <span>Select Language</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function googleTranslateFunction(){
  new google.translate.TranslateElement({pageLanguage:'en', layout:google.translate.TranslateElement.InlineLayout.SIMPLE},'google_translate_element');
  } </script>
  
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateFunction"></script>