<%- layout("/layouts/boiler.ejs") %>
<style>
  .filter{
    text-decoration: none;
  }
  .type{
    margin: 2.5rem auto;
    padding: 1rem;
  }
</style>
<body>
  <div class="list-group type">
    <a class="filter" href="/listings?q=Beach"><button  type="button" class="list-group-item list-group-item-action">Beach</button>
    </a>
    <a class="filter" href="/listings?q=Tree house"><button  type="button" class="list-group-item list-group-item-action">Tree house</button>
    </a>
    <a class="filter" href="/listings?q=Castles"><button  type="button" class="list-group-item list-group-item-action">Castles</button>
    </a>
    <a class="filter" href="/listings?q=Mountains"><button  type="button" class="list-group-item list-group-item-action">Mountains</button>
    </a>
    <a class="filter" href="/listings?q=Skiing"><button  type="button" class="list-group-item list-group-item-action">Skiing</button>
    </a>
    <a class="filter" href="/listings?q=Camping"><button  type="button" class="list-group-item list-group-item-action">Camping</button>
    </a>
    <a class="filter" href="/listings?q=Arctic"><button  type="button" class="list-group-item list-group-item-action">Arctic</button>
    </a>
    <a class="filter" href="/listings?q=Lakes"><button  type="button" class="list-group-item list-group-item-action">Lakes</button>
    </a>
    <a class="filter" href="/listings?q=Golfing"><button  type="button" class="list-group-item list-group-item-action">Golfing</button>
    </a>
    <a class="filter" href="/listings?q=Iconic cities"><button  type="button" class="list-group-item list-group-item-action">Iconic cities</button>
    </a>
    <a class="filter" href="/listings?q=Pools"><button  type="button" class="list-group-item list-group-item-action">A second button item</button>
    </a>
    <a class="filter" href="/listings?q=Rooms"><button  type="button" class="list-group-item list-group-item-action">Rooms</button>
    </a>
  </div>
</body>