
    <div class="searchBar sticky-top">
        <div class="searchBarr">
          <form method="GET" action="/listings" class="d-flex searchips" role="search">
            <input name="data" class="form-control me-2 searchip" type="search" placeholder="Search Destinations" aria-label="Search">
            <button class="btn Sbtn btn-danger" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
                Search
            </button>
        </form>
        </div>
    </div>
    <div class="filters">
        <div class="arr arrL">
          <i class="fa-solid fa-chevron-left"></i></div>
        <div class="filter-icon">
          <li class="filter">
            <a href="/listings?q=Beach">
              <i class="fa-solid fa-umbrella-beach"></i>
              <p>Beach</p>
            </a>
          </li>
          </li>
          <li class="filter">
            <a href="/listings?q=Tree house">
              <i class="fa-solid fa-tree-city"></i>
              <p>Tree&nbsp;house</p>
            </a>
          </li>
          <li class="filter">
            <a href="/listings?q=Castles">
              <i class="fa-brands fa-fort-awesome"></i>
              <p>Castles</p>
            </a>
          </li>
          <li class="filter">
            <a href="/listings?q=Mountains">
              <i class="fa-solid fa-mountain-sun"></i>
              <p>Mountains</p>
            </a>
          </li>
          <li class="filter">
            <a href="/listings?q=Skiing">
              <i class="fa-solid fa-person-skiing"></i>
              <p>Skiing</p>
            </a>
          </li>
          <li class="filter">
            <a id="li" href="/listings?q=Camping">
              <i class="fa-solid fa-tents"></i>
              <p>Camping</p>
            </a>
          </li>
          <li class="filter">
            <a id="li" href="/listings?q=Arctic">
              <i class="fa-solid fa-snowflake"></i>
              <p>Arctic</p>
            </a>
          </li>
          <li class="filter">
            <a href="/listings?q=Lakes">
              <i class="fa-solid fa-water"></i>
              <p>Lakes</p>
            </a>
          </li>
          <li class="filter">
            <a href="/listings?q=Golfing">
              <i class="fa-solid fa-golf-ball-tee"></i>
              <p>Golfing</p>
            </a>
          </li>
          <li class="filter">
            <a href="/listings?q=Iconic cities">
              <i class="fa-solid fa-city"></i>
              <p>Iconic&nbsp;cities</p>
            </a>
          </li>
          <li class="filter">
            <a href="/listings?q=Pools">
              <i class="fa-solid fa-person-swimming"></i>
              <p>Pools</p>
            </a>
          </li> 
          <li class="filter">
            <a href="/listings?q=Rooms">
              <i class="fa-solid fa-bed"></i>
              <p>Rooms</p>
            </a> 
        </div>    
        <div class="arr arrR">
          <i class="fa-solid fa-chevron-right"></i>
        </div>    
        <a href="/filters"><button class="filter-btn"><i class="fa-solid fa-sliders"></i>Filters</button></a>
        <div class="form-check-reverse form-switch tax-switch">
          <input class="form-check-input switch-radio" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label tax-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
      </div>
    </div>
<script>
  
</script>
